@import "variables";
@import "mixins";
@import "upload";
@import "header";
@import "footer";
@import "index";
@import "login";
@import "contactus";
@import "applicationprocess";
@import "discoverchina";
@import "jobvacancy";
@import "job";
@import "jobdetail";
@import "apply";

html {
  font-family: 'Oswald', sans-serif !important;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $white;
    z-index: -1;
  }

  // webkit font boosting
  * {
    max-height: 999999px;
  }

  main {
    font-size: 0;
    flex-grow: 1;
    background-color: #f9f6f5;
  }
}

a {
  text-decoration: none;

  &:hover {
    color: #19a7a0;
  }
}

ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}

.transparent {
  opacity: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.cus-input {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #d4dce0;
  line-height: 38px;
  width: 180px;
  padding: 0 15px;
  background-color: transparent;
  border: 1px solid #d4dce0;
  box-sizing: border-box;
  text-align: left;
}

.cus-btn {
  display: inline-block;
  font-size: 16px;
  color: #d4dce0;
  line-height: 38px;
  padding: 0 15px;
  background-color: $light;
  cursor: pointer;
}

.job-container {
  padding: 60px 0 100px;

  h2 {
    font-size: 30px;
    color: #eefdff;
  }

  .cus-input {
    width: 110px;
    margin-right: 10px;
  }

  .header-tip {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

    .text {
      flex: 1;
      font-size: 14px;
      padding-right: 30px;
      color: #eefdff;
    }

    .btn-right {
      flex-shrink: 0;
    }
  }

  .job-list {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .job-item {
      width: 274px;
      background-color: #124973;
      text-align: center;
      border: 1px solid #e1e1e1;
      cursor: pointer;
      margin-bottom: 32px;

      &.empty {
        height: 0;
        border: 0 !important;
      }

      &:hover {
        box-shadow: 0 0 8px rgba(0, 0, 0, .5);
      }

      .logo {
        display: block;
        height: 156px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &.job1 {
          background-image: url('/build/images/jobvacancy/1.png');
        }

        &.job2 {
          background-image: url('/build/images/jobvacancy/2.png');
        }

        &.job3 {
          background-image: url('/build/images/jobvacancy/3.png');
        }

        &.job4 {
          background-image: url('/build/images/jobvacancy/4.png');
        }
      }

      .desc {
        display: block;
        height: 200px;
        padding: 40px 30px 20px;
        font-size: 16px;
        color: #eefdff;
      }

      .name {
        display: block;
        height: 60px;
      }

      .info {
        display: block;
        padding: 5px;
      }
    }
  }
}



.job-banner {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url('/build/images/jobvacancy/banner.png');
  background-size: cover;
  background-position: center;

  .search-container {
    padding-top: 260px;
    text-align: center;

    .cus-input {
      margin-right: 16px;
      font-size: 24px;
      line-height: 65px;
    }

    .cus-btn {
      font-size: 24px;
      line-height: 65px;
      padding: 0 25px;
    }

    .dropdown {
      cursor: pointer;
      padding-right: 30px;

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 12px;
        height: 12px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        top: 25px;
        bottom: 0;
        right: 10px;
        transform: rotate(-45deg);
      }

      &:hover {
        .dropdown-list {
          height: 120px;
        }
      }
    }

    .dropdown-list {
      font-size: 16px;
      line-height: 38px;
      position: absolute;
      height: 0;
      left: -1px;
      right: -1px;
      top: 100%;
      overflow: hidden;
      transition: height .5s ease;
      z-index: 1;
    }

    .dropdown-item {
      border: 1px solid #fff;
      border-top: 0;
      padding: 0 15px;

      &:hover {
        background-color: rgba(255, 255, 255, .2);
      }
    }
  }

  .count-list {
    display: flex;
    margin-top: 130px;

    .count-item {
      flex: 1;
      font-size: 24px;
      color: #eefdff;
      border-right: 1px solid #eefdff;
      text-align: center;

      &:last-child {
        border-right: 0;
      }

      .number {
        display: block;
        font-size: 18px;
      }
    }
  }
}

.blod {
  font-weight: bold;
  font-family: 'Arial';
}
