.contact-wrapper {
  padding-top: 70px;

  .banner {
    width: 100%;
    height: 400px;
    background-size: auto 600px;
    background-position: center -50px;
    background-image: url('/build/images/contactus/banner_2.png');
    // background-color: #fff;
    background-repeat: no-repeat;
  }

  .container {
    padding: 100px 0;

    &.without-top {
      padding-top: 0;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .map {
        flex: 1;
        height: 430px;
      }

      .contact {
        flex: 1;
        text-align: center;
      }

      .form-group {
        margin-bottom: 30px;

        label {
          display: inline-block;
          width: 180px;
          font-size: 24px;
          line-height: 38px;
          padding-right: 10px;
          text-align: right;
        }

        .form-control {
          vertical-align: top;
          width: 366px;
          border: 0;
          padding: 0 15px;
          font-size: 24px;
          line-height: 38px;
          background-color: #024777;
          color: #eefdff;
        }
      }

      .btn {
        display: inline-block;
        color: #fff;
        font-size: 16px;
        background-color: $light;
        padding: 10px 30px;
        cursor: pointer;
      }
    }
  }

  .icon-list {
    display: flex;
    flex-wrap: wrap;
  }

  .icon-item {
    width: 300px;
    height: 200px;
    padding-top: 110px;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    line-height: 1;
    color: #000438;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100px;
    box-sizing: border-box;

    &.facebook {
      background-image: url('/build/images/contactus/Facebook.png');
    }

    &.twitter {
      background-image: url('/build/images/contactus/Twitter.png');
    }

    &.instagram {
      background-image: url('/build/images/contactus/Instagram.png');
    }

    &.tel {
      background-image: url('/build/images/contactus/Telephone.png');
    }

    &.skype {
      background-image: url('/build/images/contactus/Skype.png');
    }

    &.address {
      background-image: url('/build/images/contactus/Address.png');
    }

    &.working {
      background-image: url('/build/images/contactus/Workinghour.png');
    }

    &.email {
      background-image: url('/build/images/contactus/Email.png');
    }

    p {
      font-size: 16px;
      line-height: 24px;
      font-weight: normal;
    }
  }

  .page-two {
    background-color: $dark;

    .container{
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        width: 700px;

        h2 {
          display: inline-block;
          font-size: 30px;
          color: $light;
          // margin-bottom: 70px;
          padding: 0 20px 20px 0;
          // border-bottom: 2px solid $light;
        }

        p {
          font-size: 20px;
          color: #eefdff;
          margin-bottom: 20px;
        }
      }

      .right {
        width: 410px;
        padding-top: 240px;
        font-size: 22px;
        color: #eefdff;
        text-align: center;
        background-position: center top;
        background-repeat: no-repeat;
        background-image: url('/build/images/index/free.png');
      }
    }
  }
}
