footer {
  text-align: center;
  background-color: $dark;
  font-size: 14px;
  line-height: 1;
  color: $white;

  .tip {
    margin-top: 80px;
  }

  .license {
    a {
      color: $white;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .legal {
    margin: 10px 0 30px;

    a {
      color: $light;
      padding: 0 5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .attention-list {
    display: inline-block;
    margin: 40px 0 80px;
  }

  .attention-item {
    display: inline-block;

    &:nth-child(1) a {
      background-image: url('/build/images/footer/email.png');
    }

    &:nth-child(2) a {
      background-image: url('/build/images/footer/facebook.png');
    }

    &:nth-child(3) a {
      background-image: url('/build/images/footer/twitter.png');
    }

    &:nth-child(4) a {
      background-image: url('/build/images/footer/instagram.png');
    }

    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: 0 12px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}



.article-wrapper {
  padding: 70px 0;
  font-size: 16px;
  width: 800px !important;

  h1 {
    text-align: center;
    margin: 40px 0 15px;
  }

  .desc {
    text-align: center;
  }

  h2 {
    margin-top: 25px;
  }

  p {
    margin: 15px 0;
    text-align: justify;
    color: #555;

    b {
      font-size: 18px;
      color: #000;
    }
  }

  li {
    list-style: disc;
  }
}
