header {
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: $dark;
  z-index: 1;

  .container {
    height: 70px;
    background-image: url('/build/images/header/logo.jpeg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 45px;
  }

  .menu {
    font-size: 0;
    float: right;

    .menu-item {
      position: relative;
      display: inline-block;
      padding: 0 15px;
      font-size: 16px;
      line-height: 70px;
      cursor: pointer;
      background-color: $dark;

      a {
        display: block;
        height: 100%;
        color: $white;
      }

      &.active,
      &:hover {
        a {
          color: $light;
        }
      }

      &.login-btn {
        margin-left: 80px;
        margin-top: 16px;
        padding: 10px 15px;
        line-height: 1;
        border: 1px solid $light;
        // background-color: $white;

        a {
          color: $light;
        }

        &:hover {
          background-color: $light;

          a {
            color: $white;
          }
        }
      }
    }
  }

  .sub-menu:hover {
    .sub-menu-list {
      bottom: -120px;
    }
  }

  .sub-menu-list {
    position: absolute;
    height: 120px;
    width: 200px;
    left: 0;
    bottom: 0;
    background-color: $dark;
    z-index: -1;
    transition: bottom .5s ease;

    .sub-menu-item {
      a {
        display: block;
        padding: 0 15px;
        font-size: 16px;
        line-height: 40px;
        color: $white !important;
      }

      &:hover {
        a {
          color: $light !important;
        }
      }
    }
  }
}
