.index-wrapper .page-one-2 {
  position: relative;
  color: #fff;
  background-image: url('/build/images/index/banner.jpg');
  background-size: cover;
  background-position: center;
}

.index-wrapper .page-one-2::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.index-wrapper .page-one-2 .fp-tableCell {
  position: relative;
  z-index: 1;
}

.index-wrapper .page-one-2 h3 {
  font-size: 35px;
  font-weight: normal;
}

.index-wrapper .page-one-2 h2 {
  font-size: 76px;
  padding: 0 0 50px;
  font-weight: normal;
}

.index-wrapper {
  .page-one-2 {
    .job-keyword {
      width: 600px;
      font-size: 24px;
      border: 0;
      padding: 20px 50px;
      border-radius: 34px;
      margin: 70px 0 30px;

      &:focus {
        outline: none;
      }
    }

    .job-search {
      display: block;
      margin: 0 auto;
      font-size: 18px;
      line-height: 40px;
      width: 200px;
      text-align: center;
      background-color: #f60;
      cursor: pointer;

      &:hover {
        background-color: #f70;
      }
    }
  }

  .page-6 {
    h2 {
      font-size: 30px;
      font-weight: normal;
      color: #000;
    }

    h3 {
      font-size: 24px;
      font-weight: normal;
      color: #777;
      margin-bottom: 50px;
    }

    .swiper-container {
      padding: 0 150px;
    }

    .swiper-container,
    .swiper-wrapper,
    .swiper-slide {
      height: 300px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      position: absolute;
      top: 0;
      bottom: 0;
      height: 100%;
      margin: 0;
      width: 150px;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1;
      cursor: pointer;
    }

    .swiper-button-prev {
      left: 0;
      background-image: url('/build/images/index/left.png');
    }

    .swiper-button-next {
      right: 0;
      background-image: url('/build/images/index/right.png');
    }

    .swiper-slide {
      background-repeat: no-repeat;
      background-position: center;

      &.kuangye {
        background-image: url('/build/images/index/kuangye.png');
      }

      &.huaihai {
        background-image: url('/build/images/index/huaihai.png');
      }

      &.qiqi {
        background-image: url('/build/images/index/qiqi.png');
      }

      &.wuyue {
        background-image: url('/build/images/index/wuyue.png');
      }
    }

    .school {
      display: block;
      width: 120px;
      height: 150px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      &.school-1 {
        background-image: url('/build/images/index/school1.jpg');
      }

      &.school-2 {
        background-image: url('/build/images/index/school2.jpg');
      }

      &.school-3 {
        background-image: url('/build/images/index/school3.jpg');
      }

      &.school-4 {
        background-image: url('/build/images/index/school4.jpg');
      }

      &.school-5 {
        background-image: url('/build/images/index/school5.jpg');
      }

      &.school-6 {
        background-image: url('/build/images/index/school6.jpg');
      }

      &.school-7 {
        background-image: url('/build/images/index/school7.jpg');
      }

      &.school-8 {
        background-image: url('/build/images/index/school8.jpg');
      }

      &.school-9 {
        background-image: url('/build/images/index/school9.jpg');
      }

      &.school-10 {
        background-image: url('/build/images/index/school10.jpg');
      }

      &.school-11 {
        background-image: url('/build/images/index/school11.jpg');
      }

      &.school-12 {
        background-image: url('/build/images/index/school12.jpg');
      }

      &.school-13 {
        background-image: url('/build/images/index/school13.jpg');
      }

      &.school-14 {
        background-image: url('/build/images/index/school14.jpg');
      }

      &.school-15 {
        background-image: url('/build/images/index/school15.jpg');
      }

      &.school-16 {
        background-image: url('/build/images/index/school16.jpg');
      }

      &.school-17 {
        background-image: url('/build/images/index/school17.jpg');
      }

      &.school-18 {
        background-image: url('/build/images/index/school18.jpg');
      }
    }
  }

  .page-7 {
    background-color: #000435;

    h2 {
      font-size: 30px;
      color: #fff;
      text-align: center;
    }

    .feedback {
      display: flex;
      justify-content: space-between;

      .p {
        position: relative;
        padding: 30px 20px 30px 180px;
        color: #fff;
        font-size: 20px;
        line-height: 28px;
        width: 400px;
        height: 430px;
        opacity: .9;
        // height: fit-content;
        text-align: justify;

        .name {
          position: absolute;
          right: 0;
          bottom: 0;
          text-decoration: underline;
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        &:nth-child(1)::before {
          background-image: url('/build/images/index/feedback_1.png');
          background-position: left -250px top;
          background-size: 700px;
        }

        &:nth-child(2)::before {
          background-image: url('/build/images/index/feedback_2.jpg');
          background-size: 160px;
          background-position: left top 85px;
        }

        &:nth-child(2) {
          padding-right: 0;
        }
      }
    }
  }
}

.index-wrapper {
  background-color: #fff;

  .page-one {
    text-align: center;
    padding: 80px 0;

    h2 {
      font-size: 30px;
      color: $light;
    }

    h3 {
      margin: 10px 0 70px;
      font-size: 18px;
      color: #454b55;
    }

    .type-list {
      display: flex;
      justify-content: space-between;
    }

    .type-item {
      width: 384px;
      height: 322px;
      background-color: #e0fcff;
      padding-top: 220px;
      box-sizing: border-box;
      text-align: center;
      font-size: 24px;
      color: #004048;
      background-position: center 58px;
      background-repeat: no-repeat;

      &:first-child {
        background-position: center 68px;
        background-image: url('/build/images/index/Socialrecruitment.png');
      }

      &:nth-child(2) {
        background-image: url('/build/images/index/Internshiprecruitment.png');
      }

      &:nth-child(3) {
        background-image: url('/build/images/index/Campusrecruitment.png');
      }
    }
  }

  .page-two {
    background-color: $dark;

    .container{
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        width: 700px;

        h2 {
          display: inline-block;
          font-size: 30px;
          color: $light;
          margin-bottom: 70px;
          padding: 0 20px 20px 0;
          // border-bottom: 2px solid $light;
        }

        p {
          font-size: 20px;
          color: #eefdff;
          margin-bottom: 20px;
        }
      }

      .right {
        width: 410px;
        padding-top: 240px;
        font-size: 22px;
        color: #eefdff;
        text-align: center;
        background-position: center top;
        background-repeat: no-repeat;
        background-image: url('/build/images/index/free.png');
      }
    }
  }

  .page-three {
    text-align: center;

    h2 {
      display: inline-block;
      font-size: 30px;
      padding: 20px;
      color: $light;
      // border-bottom: 2px solid $light;
    }

    .step-list {
      display: flex;
      justify-content: space-between;
      margin-top: 100px;

      .step-item {
        position: relative;
        width: 222px;
        height: 208px;
        padding: 70px 20px 0;
        font-size: 16px;
        line-height: 24px;
        background-color: #e0fcff;
        color: #004048;
        box-sizing: border-box;
      }

      .index {
        position: absolute;
        left: 0;
        right: 0;
        height: 68px;
        top: -34px;
        z-index: 1;
        background-image: url('/build/images/index/index.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 24px;
        line-height: 68px;
        color: #fff;
        text-align: center;
      }
    }
  }

  .page-four-2 {
    h2 {
      font-size: 30px;
      color: #000;
      text-align: center;
      padding-bottom: 50px;
    }

    .container {
      display: flex;
      flex-wrap: nowrap;

      .video {
        width: 720px;
        flex-shrink: 0;
        margin-right: 50px;

        iframe {
          width: 100%;
        }

        .video-youtube {
          display: none;
        }

        .video-1 {
          display: block;
        }
      }

      .china {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .item {
          position: relative;
          height: 120px;
          padding-left: 230px;
          padding-top: 15px;
          background-repeat: no-repeat;
          background-size: 50% 100%;
          background-position: left center;
          cursor: pointer;

          &.item-1 {
            background-image: url('/build/images/index/food.jpeg');
          }

          &.item-2 {
            background-image: url('/build/images/index/shop.png');
          }

          &.item-3 {
            background-image: url('/build/images/index/time.jpeg');
          }

          &:hover {
            i {
              position: absolute;
              left: 20%;
              top: 50%;
              transform: translateY(-50%);
              display: inline-block;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgba(255, 255, 255, .6);

              &::before {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-left: 16px solid #fff;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                left: 56%;
                top: 50%;
                transform: translateY(-50%) translateX(-50%);
              }
            }
          }
        }

        .title {
          display: block;
          font-size: 24px;
          color: #000;
        }

        .type {
          font-size: 14px;
          color: #000;
          margin-top: 10px;
        }
      }
    }
  }

  .page-four {
    background-color: $dark;
    text-align: center;

    h2 {
      display: inline-block;
      font-size: 30px;
      color: #eefdff;
      padding: 20px;
      // border-bottom: 2px solid #eefdff;
    }

    .job-container {
      padding-bottom: 50px;
    }

    .job-list,
    .job-item {
      margin: 0 !important;
    }
  }

  .page-five {
    text-align: center;
    background-color: $dark;

    h2 {
      font-size: 30px;
      padding: 10px;
      color: #eefdff;
      display: inline-block;
      // border-bottom: 2px solid #eefdff;
    }

    h3 {
      font-size: 14px;
      color: #eefdff;
      margin: 30px 0 50px;
    }

    .container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .map {
        flex: 1;
        height: 350px;
      }

      .contact {
        flex: 1;
      }

      .form-group {
        margin-bottom: 30px;

        label {
          display: inline-block;
          width: 180px;
          font-size: 24px;
          line-height: 38px;
          color: #eefdff;
          padding-right: 10px;
          text-align: right;
        }

        .form-control {
          vertical-align: top;
          width: 366px;
          border: 0;
          padding: 0 15px;
          font-size: 24px;
          line-height: 38px;
          background-color: #024777;
          color: #eefdff;
        }
      }

      .btn {
        display: inline-block;
        color: #fff;
        font-size: 16px;
        background-color: $light;
        padding: 10px 30px;
        cursor: pointer;
      }
    }
  }

  .fp-auto-height {
    border-top: 2px solid #fff;
  }
}

.next-icon {
  position: fixed;
  width: 60px;
  height: 60px;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  z-index: 10;
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
    transform: rotate(45deg);
    transform-origin: center;
    animation: next .8s ease-in-out alternate infinite;
    opacity: .7;
  }

  &:hover::after {
    opacity: 1;
  }
}

@keyframes next {
    100% {
        top: 20px
    }
}

.align-right {
  text-align: right;

  .read-more {
    font-size: 18px;
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }
}
