.jobvacancy-wrapper {
  padding-top: 70px;

  .type-list {
    display: flex;
    justify-content: space-between;
    padding: 110px 0;

    .type-item {
      width: 364px;
      height: 344px;
      padding-top: 240px;
      background-color: $light;
      font-size: 20px;
      color: #fff;
      text-align: center;
      background-repeat: no-repeat;
      background-position: center 80px;
      box-sizing: border-box;
      cursor: pointer;

      &:nth-child(1) {
        background-image: url('/build/images/jobvacancy/currentvacancy.png');
      }

      &:nth-child(2) {
        background-image: url('/build/images/jobvacancy/graduateschemes.png');
      }

      &:nth-child(3) {
        background-image: url('/build/images/jobvacancy/internship.png');
      }
    }
  }

  .job-container {
    background-color: $dark;
    border-bottom: 1px solid #fff;
  }

  .job-banner {
    position: relative;
  }

  .next-icon {
    position: absolute;
    background-color: transparent;
    bottom: 10px;
  }
}
