$white:                         #fff;
$default-font-color:            #4d4d4d;
$title-color:                   #262626;
$default-background-color:      #2b2c2d;
$default-border-color:          #efefef;
$grey-background-color:         #f6f8fa;
$black:                         #000;


$dark:                          #000435;
$light:                         #2ccfe3;
