.home-wrapper .page-one .fp-tableCell {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.home-wrapper .page-one .top {
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: center;
  background-color: rgba(5, 33, 61, 0.75);
  color: #fff;
}

.home-wrapper .page-one .top h2 {
  margin-top: 20px;
}

.home-wrapper .page-one .top .logo {
  max-width: 15%;
  margin-right: 2%;
  border-radius: 50%;
}

.home-wrapper .page-two .fp-tableCell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20%;
  background-color: rgba(0, 66, 102, .75);
  color: #fff;
}

.home-wrapper .page-two h2 {
  font-size: 40px;
  margin-bottom: 50px;
}

.home-wrapper .page-two p {
  font-size: 22px;
  margin-bottom: 1em;
  text-align: left;
}

.home-wrapper .page-one .bottom {
  display: flex;
  flex-grow: 3;
  align-items: center;
  justify-content: space-around;
}

.home-wrapper .page-one .bottom li {
  position: relative;
  display: inline-block;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 3px solid #555;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.home-wrapper .page-one .bottom li:hover {
  box-shadow: 0 5px 10px #000;
}

.home-wrapper .page-one .bottom li.internship {
  background-image: url('images/internship.jpg');
}

.home-wrapper .page-one .bottom li.graduate {
  background-image: url('images/graduate.png');
}

.home-wrapper .page-one .bottom li.social {
  background-image: url('images/social.png');
}

.home-wrapper .page-one .bottom li:hover span {
  top: 0;
}

.home-wrapper .page-one .bottom li span {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 100%;
  font-size: 28px;
  line-height: 350px;
  text-align: center;
  background-color: #fff;
  transition: all .5s ease;
  z-index: 1;
}

.home-wrapper .page-three {
  background-color: rgba(9, 125, 165, .75);
}

.home-wrapper .page-three .fp-tableCell {
  display: flex;
  align-items: center;
}

.home-wrapper .page-three article {
  width: 380px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all .5s ease;
}

.home-wrapper .page-three article:hover {
  box-shadow: 0 0 7px #fff;
}

.home-wrapper .page-three article h2 {
  padding: 0 20px;
  text-align: center;
  margin-bottom: 1em;
}

.home-wrapper .page-three article p {
  margin-bottom: 1em;
}

.home-wrapper .page-three .top,
.home-wrapper .page-three .bottom {
  display: flex;
  color: #fff;
}

.home-wrapper .page-three .top {
  justify-content: space-around;
}

.home-wrapper .page-three .bottom {
  justify-content: space-between;
}

.home-wrapper .page-three .bottom article:first-child h2 {
  padding: 0;
}

.home-wrapper .page-one-2 {
  position: relative;
  color: #fff;
  background-image: url('images/shanghai2.jpg');
  background-size: cover;
  background-position: center;
}

.home-wrapper .page-one-2::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.home-wrapper .page-one-2 .fp-tableCell {
  position: relative;
  z-index: 1;
}

.home-wrapper .page-one-2 h3 {
  font-size: 35px;
  font-weight: normal;
}

.home-wrapper .page-one-2 h2 {
  font-size: 55px;
  padding: 18% 0 50px;
}

.home-wrapper .page-four .fp-tableCell {
  position: relative;
}

.home-wrapper .page-four .schools {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}

.home-wrapper .page-four .schools .swiper-slide {
  height: 100px;
  display: inline-flex;
  align-items: center;
}

.home-wrapper .page-four .schools .logo {
  flex-grow: 2;
  flex-shrink: 0;
  height: 60%;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.home-wrapper .page-four .schools .logo.rise {
  background-image: url('images/rise.jpg');
}

.home-wrapper .page-four .schools .logo.world {
  background-image: url('images/world.jpg');
}

.home-wrapper .page-four .schools .logo.huaihai {
  background-image: url('images/huaihai.jpg');
}

.home-wrapper .page-four .schools .logo.btudio {
  background-image: url('images/btudio.jpg');
}

.home-wrapper .page-four .schools .name {
  flex-grow: 3;
  flex-shrink: 0;
  font-size: 20px;
}

.home-wrapper .page-four-2 .fp-tableCell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-wrapper .page-four-2 .video {
  margin-right: 100px;
}

.home-wrapper .page-four-2 .cities {
  width: 50%;
  margin: 0;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home-wrapper .page-four-2 .cities article {
  display: flex;
  justify-content: space-between;
}

.home-wrapper .page-four-2 .cities .content {
  width: 30%;
  height: 248px;
  overflow: -webkit-paged-y;
}

.home-wrapper .page-four-2 .cities .cover {
  width: 65%;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.home-wrapper .page-four-2 .cities article:nth-child(1) .cover {
  background-image: url(images/food.jpeg);
}

.home-wrapper .page-four-2 .cities article:nth-child(2) .cover {
  background-image: url(images/living.jpg);
}

.home-wrapper .page-four-2 .cities .type {
  display: block;
  font-size: 18px;
  font-weight: normal;
}

.home-wrapper .page-four-2 .cities .title {
  display: block;
  font-size: 22px;
  font-weight: bold;
}

.home-wrapper .page-four-2 .cities p {
  font-size: 14px;
}

.home-wrapper .page-five .container {
  display: flex;
  height: 100%;
  align-items: center;
}

.home-wrapper .page-five .map {
  flex-shrink: 0;
  width: 500px;
  height: 500px;
  margin-right: 50px;
  background-color: yellow;
}

.home-wrapper .page-five .contact {
  flex-grow: 1;
  flex-shrink: 1;
  border-left: 1px solid #efefef;
  padding: 50px;
}

.home-wrapper .page-five h2 {
  margin-bottom: 50px;
}
