nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  z-index: 10;
}

nav li {
  display: inline-block;
}

nav .social {
  position: fixed;
  left: 0;
  top: 40%;
  padding: 7px;
  background-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .3);
}

nav .social a {
  display: block;
  width: 30px;
  height: 30px;
  margin: auto;
  background-size: cover;
  background-position: center;
  transition: all .2s ease;
}

nav .social .facebook:hover,
nav .social .twitter:hover {
  transform: scale(1.2);
}

nav .social .facebook {
  background-image: url('images/facebook.png');
}

nav .social .twitter {
  margin-top: 10px;
  background-image: url('images/twitter.png');
}

nav .social .faq {
  display: block;
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #ebebeb;
  cursor: pointer;
}

.page-one .fp-tableCell {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-one .top {
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: center;
  background-color: rgba(5, 33, 61, 0.75);
  color: #fff;
}

.page-one .top h2 {
  margin-top: 20px;
}

.page-one .top .logo {
  max-width: 15%;
  margin-right: 2%;
  border-radius: 50%;
}

.page-one .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 3;
  padding: 0 20%;
  background-color: rgba(0, 66, 102, .75);
  color: #fff;
}

.page-one .bottom h2 {
  margin-bottom: 20px;
}

.page-one .bottom p {
  margin-bottom: 1em;
  text-align: left;
}
